body {
  background-image: url("../img/ImgLogin.jpg");
  background-size: cover;
  background-position: center;
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  padding: 2rem;
  max-width: 450px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 10px;
}

.btn-primary {
  background-color: #3e7774;
  border-color: #3e7774;
  font-weight: bold;
}

.btn-primary:hover {
  background-color: #336865;
  border-color: #336865;
}

.alert {
  text-align: center;
  font-size: 14px;
}
