/*Cuerpo*/
body {
  background-color: #f8f9fa;
}

/*Asidde*/
.sidebar {
  height: 100vh;
  background-color: #4F817D;
  color: white;
  padding-top: 1rem;
  text-align: center;
}

.perfil-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin: 0 auto;
  border: 2px solid white;
}

.perfil-sidebar h5 {
  color: white;
  text-align: center;
  font-weight: bold;
  margin-top: 0.5rem;
}

.sidebar a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 0.75rem;
  font-weight: 500;
  transition: background 0.4s;
  border-radius: 8px;
}

.sidebar a:hover {
  background-color: #ffffff;
  color: #000000;
}

.logout.btn:hover {
  background-color: #dc3545;
  color: white;
  border-radius: 8px;
  transition: background 0.4s;
}

/*Contenedores*/
.card-stat {
  text-align: center;
  padding: 1rem;
  color: white;
}

.card-stat h5 {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

.card-stat h3 {
  font-size: 2rem;
  margin: 0;
}

/*Tabla*/
.card .table {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.table th,
.table td {
  text-align: center;
  vertical-align: middle;
}

/*Header*/
main h2 {
  text-align: center;
  margin-bottom: 2rem;
  font-weight: 600;
}
